
/* Containers */

.container-fluid{
  padding: 7% 15%;
}



h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat";

}



p{
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

body {
  font-family: "Montserrat";
  text-align: center;
}


/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;

}


.navbar-brand {

  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;

}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: lighter;


}


/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;

}


/* Title section */


#title {

background-image:  linear-gradient(#0293fa, #bae4f5);
color: #fff;
}

#title.container-fluid {
  padding: 3% 15% 7%;
}


/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */

#features {

  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-title {
  font size: 1.5rem;
  font-weight: 900;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #5cbbff;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #0293fa;
}

/* testimonial section */

/* shadow box
box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

#testimonials {


  background-color: #5cbbff;
  color: #fff;
}

.testimonial-image {
  height: 220px;
  width: 250px;


  margin: 10px;
  padding-right: 5%;

}
  .carousel-item {
    height: 500px;
  }

  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;

  }

#press {
  background-color: #5cbbff;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {

  padding: 100px;
}
.pricing-column {
  padding: 3% 2%
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  }

.secton-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  }

}

#title {
  text-align: center;
}


@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}


/* cta section  */

#cta {
  background-color: #5cbbff;
  color:  #fff;


}



/* footer */
#footer {



}

.social-icon {
  margin: 20px 10px;
}
